{% layout='layout.html' %}

{-link-}
<link href="/waf/static/inspinia/css/plugins/dataTables/datatables.min.css" rel="stylesheet"/>
<link href="/waf/static/inspinia/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet"/>
<link href="/waf/static/inspinia/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"/>

{-link-}

{-nav_policy-}
class="active"
{-nav_policy-}

{-nav_policy_behavior-}
class="active"
{-nav_policy_behavior-}

{-nav_policy_static-}
class="active"
{-nav_policy_static-}

{-breadcrumb-}
<li>
    <a href="javascript:void(0);">
        策略
    </a>
</li>
<li>
    <a href="javascript:void(0);">
        行为
    </a>
</li>
<li>
    <a class="active">
        <strong>静态资源</strong>
    </a>
</li>
{-breadcrumb-}

{-container-}
<div style="float:left">
    <button type="button" class="btn-create btn btn-w-m btn-primary btn-sm">创建</button>
</div>
<table class="table-policy table table-striped table-bordered talbe-hover">
    <thead>
        <tr>
            <th class="col-md-3">名称</th>
            <th class="col-md-3">目标路径</th>
            <th class="col-md-1">过期时间</th>
            <th class="col-md-2">对象</th>
            <th class="col-md-1">状态</th>
            <th class="col-md-2">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="dialog-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">黑/白名单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-create">
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">目标路径</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="target" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">过期时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="expires" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">条件对象</label>
                <div class="col-sm-10">
                    <select class="form-control" name="object" data-placeholder="选择条件">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <div class="radio-inline">
                        <input type="radio" name="enable" value="true" checked="checked" /> 启用
                    </div>
                    <div class="radio-inline">
                        <input type="radio"  name="enable" value="false" /> 禁用
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-save">创建</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dialog-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">黑/白名单</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-modify">
            <input type="hidden" name="id" />
            <div class="form-group">
                <label class="col-sm-2 control-label">名称</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="name" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">目标路径</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="target" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">过期时间</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="expires" />
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">条件对象</label>
                <div class="col-sm-10">
                    <select class="form-control" name="object" data-placeholder="选择条件">
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">状态</label>
                <div class="col-sm-10">
                    <div class="radio-inline">
                        <input type="radio" name="enable" value="true" checked="checked" /> 启用
                    </div>
                    <div class="radio-inline">
                        <input type="radio"  name="enable" value="false" /> 禁用
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-modify">更新</button>
      </div>
    </div>
  </div>
</div>
{-container-}

{-script-}
<script src="/waf/static/inspinia/js/plugins/dataTables/datatables.min.js"></script>
<script src="/waf/static/inspinia/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/waf/static/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>
{-script-}

{-js-}
jQuery(document).ready(function() {
    jQuery('select').chosen({width: "100%"});

    var table = jQuery('.table-policy').DataTable({
        "dom" : '<"top"f>rt<"bottom"lp><"clear">',
        "ordering" : false,
        "ajax": "/waf/policy/list/?ptype=static_resource",
        "columns": [
            {"data": function(row) {return html_decode(row["name"]);}},
            {"data": function(row) {return html_decode(row["target"]);}},
            {"data": function(row) {return html_decode(row["expires"]);}},
            {"data": function(row) {return html_decode(row["object"]);}},
            {"data": function(row) {return html_decode(row["enable"]);}},
            {
                "data" : function(row) {
                    var buttons = [];
                    buttons.push('<button class="btn-view btn btn-warning btn-xs" data-id="%s">编辑</button>'.replace('%s', row['id']));
                    buttons.push('<button class="btn-delete btn btn-danger btn-xs" data-id="%s">删除</button>'.replace('%s', row['id']));
                    return buttons.join('&nbsp;');
                }
            }
        ],
        "language": {
            "processing": "处理中...",
            "lengthMenu": "显示 _MENU_ 项结果",
            "zeroRecords": "没有匹配结果",
            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "infoFiltered": "(由 _MAX_ 项结果过滤)",
            "infoPostFix": "",
            "search": "搜索:",
            "searchPlaceholder": "搜索...",
            "url": "",
            "emptyTable": "表中数据为空",
            "loadingRecords": "载入中...",
            "infoThousands": ",",
            "paginate": {
                "first": "首页",
                "previous": "上页",
                "next": "下页",
                "last": "末页"
            },
            "aria": {
                paginate: {
                    first: '首页',
                    previous: '上页',
                    next: '下页',
                    last: '末页'
                },
                "sortAscending": ": 以升序排列此列",
                "sortDescending": ": 以降序排列此列"
            },
            "decimal": "-",
            "thousands": "."
        }
    });

    jQuery('.btn-create').on('click', function() {
        var form = jQuery('.form-create');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.resetForm();
        }
        jQuery.get('/waf/policy/list/?ptype=object', {}, function(response) {
            if(response['data']) {
                var objects = response['data'];
                var select = jQuery('#dialog-create').find('select[name=object]');
                select.empty();
                var options = [];
                for(var i = 0, len = objects.length; i < len; ++i) {
                    var object = objects[i];
                    options.push('<option value="%1%">%2%</option>'.replace('%1%', object['id']).replace('%2%', html_decode(object['name'])));
                }
                select.html(options.join(''));
                select.trigger("chosen:updated");
            }

            jQuery('#dialog-create').modal({
                'backdrop' : 'static',
                'show' : true
            });
        }, 'json');
    });

    jQuery('.btn-save').on('click', function() {
        var form = jQuery('.form-create');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {
                return false;
            }
        }
        var params = form.serializeArray();
        jQuery.post('/waf/policy/create/?ptype=static_resource', params, function(response) {
            if(response['code'] == 200) {
                jQuery('#dialog-create').modal('hide');
                swal({
                    title: html_decode('创建成功'),
                    text: "",
                    type: "success",
                    timer: 2000,
                });
                table.ajax.reload();
            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });

    jQuery('.table-policy').on('click', '.btn-delete', function() {
        var id = jQuery(this).data('id');
        swal({
            title: "确定删除吗?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            jQuery.post('/waf/policy/delete/?ptype=static_resource', {'id' : id}, function(response) {
                if(response['code'] == 200) {
                    swal({
                        title: html_decode('删除成功'),
                        text: "",
                        type: "success",
                        timer: 2000,
                    });
                    table.ajax.reload();
                } else {
                    swal({
                        title: html_decode(response['result']),
                        text: "",
                        type: "error"
                    });
                }
            }, 'json');
        });
    });


    jQuery('.table-policy').on('click', '.btn-view', function() {
        var form = jQuery('.form-modify');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.resetForm();
        }
        var id = jQuery(this).data('id');
        jQuery.get('/waf/policy/view/?ptype=static_resource', {'id' : id}, function(presponse) {
            if(presponse['code'] == 200) {
                jQuery.get('/waf/policy/list/?ptype=object', {}, function(response) {
                    if(response['data']) {
                        var objects = response['data'];
                        var select = jQuery('#dialog-view').find('select[name=object]');
                        select.empty();
                        var options = [];
                        for(var i = 0, len = objects.length; i < len; ++i) {
                            var object = objects[i];
                            options.push('<option value="%1%" %3%>%2%</option>'.replace('%1%', object['id']).replace('%2%', html_decode(object['name'])));
                        }
                        select.html(options.join(''));
                        select.trigger("chosen:updated");
                    }

                    for(var key in presponse['result']) {
                        var value = presponse['result'][key];
                        var tag = jQuery('#dialog-view').find('[name="' + key + '"]');
                        if(tag.length > 0) {
                            if(tag.is('select')) {
                                tag.find('option').each(function() {
                                    var selected = jQuery.isArray(value) ? jQuery.inArray(jQuery(this).val(), value) != -1: jQuery(this).val() == value;
                                    if(selected) {
                                        jQuery(this).attr('selected', 'selected');
                                    } else {
                                        jQuery(this).removeAttr('selected');
                                    }
                                })
                                tag.trigger("chosen:updated");
                            } else if(tag.is('input')) {
                                if(tag.attr('type') == 'radio'){
                                    tag.each(function() {
                                        if(jQuery(this).val() == value) {
                                            jQuery(this).attr('checked', 'checked');
                                        } else {
                                            jQuery(this).removeAttr('checked');
                                        }
                                    });
                                } else {
                                    tag.val(value);
                                }
                            }
                        }
                    }
                    jQuery('#dialog-view').modal({
                        'show' : true,
                        'backdrop' : 'static'
                    });
                }, 'json');


            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });


    jQuery('.btn-modify').on('click', function() {
        var form = jQuery('.form-modify');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {
                return false;
            }
        }

        var params = form.serializeArray();
        jQuery.post('/waf/policy/modify/?ptype=static_resource', params, function(response) {
            if(response['code'] == 200) {
                jQuery('#dialog-view').modal('hide');
                swal({
                    title: html_decode('更新成功'),
                    text: "",
                    type: "success",
                    timer: 2000,
                });
                table.ajax.reload();
            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });

    jQuery('form').bootstrapValidator({
        message: '输入不正确',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                message: '名称不正确',
                validators: {
                    notEmpty: {
                        message: '名称不能为空'
                    },
                    stringLength: {
                        min: 6,
                        max: 30,
                        message: '名称必须为6到30个字符'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '名称只能由大小写英文字母、数字、下划线组成'
                    }
                }
            },
            object: {
                message: '条件对象不正确',
                validators: {
                    notEmpty: {
                        message: '条件对象不能为空'
                    }
                }
            }
        }
    });
});
{-js-}
