{% layout='layout.html' %}

{-link-}
<link href="/waf/static/inspinia/css/plugins/dataTables/datatables.min.css" rel="stylesheet"/>
<link href="/waf/static/inspinia/css/plugins/chosen/bootstrap-chosen.css" rel="stylesheet"/>
<link href="/waf/static/inspinia/css/plugins/sweetalert/sweetalert.css" rel="stylesheet"/>

{-link-}


{-nav_policy-}
class="active"
{-nav_policy-}

{-nav_policy_object-}
class="active"
{-nav_policy_object-}

{-breadcrumb-}
<li>
    <a href="javascript:void(0);">
        策略
    </a>
</li>
<li>
    <a class="active">
        <strong> 条件对象 </strong>
    </a>
</li>
{-breadcrumb-}

{-container-}
<div style="float:left">
    <button type="button" class="btn-create btn btn-w-m btn-primary btn-sm">创建</button>
</div>
<table class="table-policy table table-striped table-bordered talbe-hover">
    <thead>
        <tr>
            <th class="col-md-4">名称</th>
            <th class="col-md-6">条件</th>
            <th class="col-md-2">操作</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

<div class="modal fade" id="dialog-create" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">条件对象</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-create">
            <div class="form-group">
                <label class="col-sm-1 control-label">名称</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">条件</label>
                <div class="col-sm-11">
                    <div class="row" data-idx="0">
                        <div class="col-sm-3">
                            <select class="form-control" name="object">
                                <optgroup label="客户端">
                                    <option value="remote_addr">IP</option>
                                    <option value="user_agent">代理</option>
                                    <option value="referer">Referer</option>
                                </optgroup>
                                <optgroup label="服务器端">
                                    <option value="scheme">协议</option>
                                    <option value="host">主机名</option>
                                    <option value="port">端口</option>
                                    <option value="uri">路径</option>
                                    <option value="method">请求方式</option>
                                    <option value="args">参数</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" name="operate">
                                <option value="eq">等于</option>
                                <option value="neq">不等于</option>
                                <option value="gt">大于</option>
                                <option value="gte">大于等于</option>
                                <option value="lt">小于</option>
                                <option value="lte">小于等于</option>
                                <option value="regular">匹配</option>
                                <option value="nregular">不匹配</option>
                                <option value="exists">存在</option>
                                <option value="nexists">不存在</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="target" value="*"/>
                        </div>
                        <div class="col-sm-1" style="padding-top: 8px;">
                            <a href="javascript:void(0);" class="btn-condition-create" data-idx='0'><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-save">创建</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="dialog-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">对象</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-modify">
            <input type="hidden" name="id" />
            <div class="form-group">
                <label class="col-sm-1 control-label">名称</label>
                <div class="col-sm-11">
                    <input type="text" class="form-control" name="name"/>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-1 control-label">条件</label>
                <div class="col-sm-11">
                    <div class="row" data-idx="0">
                        <div class="col-sm-3">
                            <select class="form-control" name="object">
                                <optgroup label="客户端">
                                    <option value="remote_addr">IP</option>
                                    <option value="user_agent">代理</option>
                                    <option value="referer">Referer</option>
                                </optgroup>
                                <optgroup label="服务器端">
                                    <option value="scheme">协议</option>
                                    <option value="host">主机名</option>
                                    <option value="port">端口</option>
                                    <option value="uri">路径</option>
                                    <option value="method">请求方式</option>
                                    <option value="args">参数</option>
                                </optgroup>
                            </select>
                        </div>
                        <div class="col-sm-3">
                            <select class="form-control" name="operate">
                                <option value="eq">等于</option>
                                <option value="neq">不等于</option>
                                <option value="gt">大于</option>
                                <option value="gte">大于等于</option>
                                <option value="lt">小于</option>
                                <option value="lte">小于等于</option>
                                <option value="regular">匹配</option>
                                <option value="nregular">不匹配</option>
                                <option value="exists">存在</option>
                                <option value="nexists">不存在</option>
                            </select>
                        </div>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" name="target">
                        </div>
                        <div class="col-sm-1" style="padding-top: 8px;">
                            <a href="javascript:void(0);" class="btn-condition-create" data-idx='0'><i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="button" class="btn btn-primary btn-modify">更新</button>
      </div>
    </div>
  </div>
</div>

<div class="hide condition-template">
    <div class="row" data-idx="%1%">
        <div class="col-sm-3">
            <select class="form-control" name="object">
                <optgroup label="客户端">
                    <option value="remote_addr">IP</option>
                    <option value="user_agent">代理</option>
                    <option value="referer">Referer</option>
                </optgroup>
                <optgroup label="服务器端">
                    <option value="scheme">协议</option>
                    <option value="host">主机名</option>
                    <option value="port">端口</option>
                    <option value="uri">路径</option>
                    <option value="method">请求方式</option>
                    <option value="args">参数</option>
                </optgroup>
            </select>
        </div>
        <div class="col-sm-3">
            <select class="form-control" name="operate">
                <option value="eq">等于</option>
                <option value="neq">不等于</option>
                <option value="gt">大于</option>
                <option value="gte">大于等于</option>
                <option value="lt">小于</option>
                <option value="lte">小于等于</option>
                <option value="regular">匹配</option>
                <option value="nregular">不匹配</option>
                <option value="exists">存在</option>
                <option value="nexists">不存在</option>
            </select>
        </div>
        <div class="col-sm-5">
            <input type="text" class="form-control" name="target" value="*"/>
        </div>
        <div class="col-sm-1" style="padding-top: 8px;">
            <a href="javascript:void(0);" class="btn-condition-create" data-idx='%1%'><i class="fa fa-plus"></i></a>
            <a href="javascript:void(0);" class="btn-condition-delete" data-idx='%1%'><i class="fa fa-minus"></i></a>
        </div>
    </div>
</div>
{-container-}

{-script-}
<script src="/waf/static/inspinia/js/plugins/dataTables/datatables.min.js"></script>
<script src="/waf/static/inspinia/js/plugins/chosen/chosen.jquery.js"></script>
<script src="/waf/static/inspinia/js/plugins/sweetalert/sweetalert.min.js"></script>

{-script-}

{-js-}
jQuery(document).ready(function() {
    var condition_tpl = jQuery('.condition-template').html();

    jQuery('form select').chosen({width: "100%"});

    var table = jQuery('.table-policy').DataTable({
        "dom" : '<"top"f>rt<"bottom"lp><"clear">',
        "ordering" : false,
        "ajax": "/waf/policy/list/?ptype=object",
        "columns": [
            {"data": function(row) {return html_decode(row["name"]);}},
            {"data": function(row) {
                var htmls = ['<ul>'];
                for(var i=0, len=row['conditions'].length; i < len; ++i) {
                    var condition = row['conditions'][i];
                    htmls.push('<li>%1%&nbsp;%2%&nbsp;%3%</li>'.replace('%1%', html_decode(condition["object"])).replace('%2%', html_decode(condition['operate'])).replace('%3%', html_decode(condition['target'])));
                }
                htmls.push('</ul>')
                return htmls.join('')
            }},
            {
                "data" : function(row) {
                    var buttons = [];
                    buttons.push('<button class="btn-view btn btn-warning btn-xs" data-id="%s">编辑</button>'.replace('%s', row['id']));
                    buttons.push('<button class="btn-delete btn btn-danger btn-xs" data-id="%s">删除</button>'.replace('%s', row['id']));
                    return buttons.join('&nbsp;');
                }
            }
        ],
        "language": {
            "processing": "处理中...",
            "lengthMenu": "显示 _MENU_ 项结果",
            "zeroRecords": "没有匹配结果",
            "info": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "infoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "infoFiltered": "(由 _MAX_ 项结果过滤)",
            "infoPostFix": "",
            "search": "搜索:",
            "searchPlaceholder": "搜索...",
            "url": "",
            "emptyTable": "表中数据为空",
            "loadingRecords": "载入中...",
            "infoThousands": ",",
            "paginate": {
                "first": "首页",
                "previous": "上页",
                "next": "下页",
                "last": "末页"
            },
            "aria": {
                paginate: {
                    first: '首页',
                    previous: '上页',
                    next: '下页',
                    last: '末页'
                },
                "sortAscending": ": 以升序排列此列",
                "sortDescending": ": 以降序排列此列"
            },
            "decimal": "-",
            "thousands": "."
        }
    });

    jQuery('.btn-create').on('click', function() {
        var form = jQuery('.form-create');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.resetForm();
        }

        jQuery('#dialog-create div.row[data-idx!=0]').remove();
        jQuery('#dialog-create').modal({
            'backdrop' : 'static',
            'show' : true
        });
    });

    jQuery('.btn-save').on('click', function() {
        var form = jQuery('.form-create');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {
                return false;
            }
        }

        var params = form.serializeArray();
        jQuery.post('/waf/policy/create/?ptype=object', params, function(response) {
            if(response['code'] == 200) {
                jQuery('#dialog-create').modal('hide');
                swal({
                    title: html_decode('创建成功'),
                    text: "",
                    type: "success",
                    timer: 2000,
                });
                table.ajax.reload();
            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });

    jQuery('.table-policy').on('click', '.btn-delete', function() {
        var id = jQuery(this).data('id');
        swal({
            title: "确定删除吗?",
            text: "",
            type: "warning",
            showCancelButton: true,
            confirmButtonColor: "#DD6B55",
            cancelButtonText: "取消",
            confirmButtonText: "删除",
            closeOnConfirm: false
        }, function () {
            jQuery.post('/waf/policy/delete/?ptype=object', {'id' : id}, function(response) {
                if(response['code'] == 200) {
                    swal({
                        title: html_decode('删除成功'),
                        text: "",
                        type: "success",
                        timer: 2000,
                    });
                    table.ajax.reload();
                } else {
                    swal({
                        title: html_decode(response['result']),
                        text: "",
                        type: "error"
                    });
                }
            }, 'json');
        });
    });

    jQuery('.table-policy').on('click', '.btn-view', function() {
        var form = jQuery('.form-modify');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.resetForm();
        }

        var id = jQuery(this).data('id');
        jQuery.get('/waf/policy/view/?ptype=object', {'id' : id}, function(response) {
            if(response['code'] == 200) {
                jQuery('#dialog-view div.row[data-idx!=0]').remove();
                for(var key in response['result']) {
                    if(key == 'conditions') {
                        for(var i=0, len=response['result'][key].length; i < len; ++i) {
                            var condition = response['result'][key][i];
                            if(i > 0) {
                                var div_condition = jQuery(condition_tpl.replace(/%1%/g, i));
                                var last_condition = jQuery('#dialog-view div.row[data-idx=' + (i - 1) + ']');
                                if(last_condition) {
                                    div_condition.find('select').chosen({width: "100%"});
                                    last_condition.after(div_condition);
                                }
                            }
                            var div_condition = jQuery('#dialog-view div.row[data-idx=' + i + ']');
                            if(div_condition.length > 0) {
                                for(var k in condition) {
                                    var value = condition[k];
                                    var tag = div_condition.find('[name="' + k + '"]');
                                    if(tag.is('select')) {
                                        tag.find('option').each(function() {
                                            var selected = jQuery.isArray(value) ? jQuery.inArray(jQuery(this).val(), value) != -1: jQuery(this).val() == value;
                                            if(selected) {
                                                jQuery(this).attr('selected', 'selected');
                                            } else {
                                                jQuery(this).removeAttr('selected');
                                            }
                                        })
                                        tag.trigger("chosen:updated");
                                    } else if(tag.is('input')) {
                                        if(tag.attr('type') == 'radio'){
                                            tag.each(function() {
                                                if(jQuery(this).val() == value) {
                                                    jQuery(this).attr('checked', 'checked');
                                                } else {
                                                    jQuery(this).removeAttr('checked');
                                                }
                                            });
                                        } else {
                                            tag.val(value);
                                        }
                                    }

                                }
                            }
                        }
                    } else {
                        var value = response['result'][key];
                        var tag = jQuery('#dialog-view').find('[name="' + key + '"]');
                        if(tag.length > 0) {
                            if(tag.is('select')) {
                                tag.find('option').each(function() {
                                    var selected = jQuery.isArray(value) ? jQuery.inArray(jQuery(this).val(), value) != -1: jQuery(this).val() == value;
                                    if(selected) {
                                        jQuery(this).attr('selected', 'selected');
                                    } else {
                                        jQuery(this).removeAttr('selected');
                                    }
                                })
                                tag.trigger("chosen:updated");
                            } else if(tag.is('input')) {
                                if(tag.attr('type') == 'radio'){
                                    tag.each(function() {
                                        if(jQuery(this).val() == value) {
                                            jQuery(this).attr('checked', 'checked');
                                        } else {
                                            jQuery(this).removeAttr('checked');
                                        }
                                    });
                                } else {
                                    tag.val(value);
                                }
                            }
                        }
                    }
                }

                jQuery('#dialog-view').modal({
                    'show' : true,
                    'backdrop' : 'static'
                });
            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });

    jQuery('.btn-modify').on('click', function() {
        var form = jQuery('.form-modify');
        var bootstrapValidator = form.data('bootstrapValidator');
        if(bootstrapValidator) {
            bootstrapValidator.validate();
            if(!bootstrapValidator.isValid()) {
                return false;
            }
        }

        var params = form.serializeArray();
        jQuery.post('/waf/policy/modify/?ptype=object', params, function(response) {
            if(response['code'] == 200) {
                jQuery('#dialog-view').modal('hide');
                swal({
                    title: html_decode('更新成功'),
                    text: "",
                    type: "success",
                    timer: 2000,
                });
                table.ajax.reload();
            } else {
                swal({
                    title: html_decode(response['result']),
                    text: "",
                    type: "error"
                });
            }
        }, 'json');
    });


    jQuery('form').on('click', '.btn-condition-create', function() {
        var curr_idx = parseInt(jQuery(this).data('idx'), 10);
        var conditions = jQuery(this).parent().parent().parent();
        var curr_condition = null;
        var idx = 0;
        jQuery(conditions).find('div.row[data-idx]').each(function() {
            var data_idx = parseInt(jQuery(this).attr('data-idx'), 10);
            if(data_idx >= idx) {
                idx = data_idx;
            }
            if(data_idx == curr_idx) {
                curr_condition = jQuery(this);
            }
        });
        idx += 1;
        var condition = jQuery(condition_tpl.replace(/%1%/g, idx));
        if(curr_condition) {
            condition.find('select').chosen({width: "100%"});
            curr_condition.after(condition);
        }
    });

    jQuery('form').on('click', '.btn-condition-delete', function() {
        var condition = jQuery(this).parent().parent();
        condition.find('select').chosen('destroy');
        condition.remove();
    });

    jQuery('form').bootstrapValidator({
        message: '输入不正确',
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            name: {
                message: '名称输入不正确',
                validators: {
                    notEmpty: {
                        message: '名称不能为空'
                    },
                    stringLength: {
                        min: 1,
                        max: 30,
                        message: '名称必须为1到30个字符'
                    },
                    regexp: {
                        regexp: /^[a-zA-Z0-9_]+$/,
                        message: '名称只能由大小写英文字母、数字、下划线组成'
                    }
                }
            }
        }
    });
});
{-js-}
